<h1 class="welcome"> Welcome to Flyer Creater </h1>
<br>
<h3 class="welcome"> Login </h2>
<br>
<table class = "login-fields">
<form action="/login" method="POST" id="login-form">
  <tr><td><label for="username">Email</label></td>
  <td><input type="text" id="username" name="username"></td>
  </tr>
   <tr><td><label for="password">Password</label></td>
  <td><input type="password" id="password" name="password"></td></tr>
</table>
<br>
  <button type="submit">Login</button>
</form>
{{#if hasErrors}}
    <p class ="error">You did not enter a valid username and/or password</p>
{{/if}}
<br>
<br>
<p>Don't have an account? <a href="/register">
  Register
</a> </p>

