<form action="/login" method="POST" id="login-form">
  <label for="username">Email</label>
  <input type="text" id="username" name="username">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">
  <button type="submit">login</button>
</form>
{{#if hasErrors}}
    <p>You did not enter a valid username and/or password</p>
{{/if}}
<a href="/register">
  <button>Register</button>
</a>

