<h1 class="welcome"> Welcome to Flyer Creater </h1>
<br>
<h3 class = "welcome"> Make a Flyer Creater Account </h2>
<br>
<form action="/register" method="POST" id="register-form">
  <table class = "reg-table">
   <tr>
  <div>
    <td><label for="email">Email</label></td>
    <td><input type="email" id="email" name="email"></td>
    <input type="hidden" id="checkUsername" value="">
  </div>
  </tr> 
  <tr>
  <div>
    <td><label for="password">Password</label></td>
    <td><input type="password" id="password" name="password"></td>
  </div>
  </tr>
  <tr>
  <div>
     <td><label for="checkPassword">Check password</label></td>
     <td><input type="password" id="repassword" name="repassword"></td>
    <input type="hidden" id="checkpassword" value="">
  </div>
  </tr>
  <tr>
  <div>
   <td> <label for="firstName">First name</label></td>
    <td><input type="text" id="firstName" name="firstName"></td>
  </div>
  </tr>
  <tr>
  <div>
  
    <td><label for="lastName">Last name</label></td>
    <td><input type="text" id="lastName" name="lastName"></td>
  </div>
  </tr>
  </table>
  <br>
  <button type="submit">Register</button>
</form>
{{error}}
<br>
 <p> Already have an account? <a href="/login"> Login</a></p>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
</script>
<script src="/public/js/register.js"></script>
<script src="/public/js/checkPwd.js"></script>