<form action="/register" method="POST" id="register-form">
  <div>
    <label for="username">Email</label>
    <input type="text" id="username" name="username">
    <input type="hidden" id="checkUsername" value="abc">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>
  <div>
    <label for="checkPassword">Check password</label>
    <input type="password" id="checkPassword">
  </div>
  <div>
    <label for="firstName">First name</label>
    <input type="text" id="firstName" name="firstName">
  </div>
  <div>
    <label for="lastName">Last name</label>
    <input type="text" id="lastName" name="lastName">
  </div>
   
    <button type="submit">register</button>
</form>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
</script>
<script src="/public/js/register.js"></script>
<<<<<<< HEAD
<div id="div1"><h1>{"abc":"bcd"}</h1></div>
=======
>>>>>>> c681278e81b61bf28fa0578cbdb0045a3ada16c2
