<br>
<h1 class="welcome"> Welcome to Flyer Creater </h1>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class = "card card-signin my-5">
      <div class="card-header">
        <h2 class="welcome"> Make a Flyer Creater Account </h2>
      </div>

      <div class="card-body">
        <form action="/register" method="POST" id="register-form">
            <div class = "form-label group">
              <label for="email">Email
              <input type="email" id="email" name="email" class = "form-control"></label>
              <output id="checkUsername"></output>
            </div>

            <div class = "form-label group">
              <label for="password">Password
              <input type="password" id="password" name="password" class = "form-control"></label>
            </div>

            <div class = "form-label group">
              <label for="repassword">Re-type password
              <input type="password" id="repassword" name="repassword" class = "form-control"></label>
              <output id="checkpassword"></output>
            </div>

            <div class = "form-label group">
              <label for="firstName">First name
              <input type="text" id="firstName" name="firstName" class = "form-control"></label>
            </div>
            <div class = "form-label group">
              <label for="lastName">Last name
              <input type="text" id="lastName" name="lastName" class = "form-control"></label>
            </div>
            <br>
                     <p class="error"> {{error}} </p>

              <button class="btn btn-primary btn-block" type="submit">Register</button>

        </form>

        <p> Already have an account? <a href="/login" class = "links"> Login</a></p>

      </div>
  </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
  </script>
<script src="/public/js/register.js"></script>
<script src="/public/js/checkPwd.js"></script>