<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title> Flyer Creator </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<main>
    {{!-- <div>
        {{!-- change this based on what the pages are called --}}
        <ul class = navbar>  
            <li class="nav"><a href = "/mainpage">Home</a></li>
            <li class="nav"><a href="/profile">My Profile</a></li>
            <li class="nav"><a href = "/logout">Logout</a></li>
        </ul>

    </div> --}}



    {{{body}}}
</main>

</html>