<div class="row card-outer-wrapper">

  {{#each flyers}}
    <a href="/editFlyer/{{this._id}}">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="template-image-wrapper">
          <img src="/public/images/{{this.image}}" alt="template-1">
        </div>
      </div>
    </a>
  {{/each}}
  {{!-- <a href="/editFlyer">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="template-image-wrapper">
        <img src="/public/images/{{image}}" alt="template-1">
      </div>
    </div>
  </a>
  <a href="/editFlyer">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <div class="template-image-wrapper">
        <img src="/public/images/{{image}}" alt="template-1">
      </div>
    </div>
  </a> --}}
</div>