<div class="row card-outer-wrapper">

  {{#each flyers}}
    <a href="/flyers/{{this._id}}">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="template-image-wrapper">
          <img src="/public/images/{{this.background}}" alt="{{this.background}}">
        </div>
      </div>
    </a>
  {{/each}}
</div>