<br>
<div class="logout">
    <h1 class = "logout-msg"> Thank you for Using Flyer Creater. </h1>
    <br>
    <h3 class = "logout-msg">You have been logged out </h3>
    <br> 
   <p class = "back-to-log"><a href = "/" > Log back in to use Flyer Creater</a></p> 
</div>

