
<div class="logout">

    <h1 class = "logout-msg"> Thank you for Using Flyer Creater. </h1>
    <h2 class = "log">You have been logged out </h2>

    <br> <br>

    <a href = "/" class = "back-to-log"> Log back in to use Flyer Creater</a>

</div>

