<div class=logout>

    <h1> Thank you for Using Flyer Creater. </h1>
    <h2>You have been logged out </h2>

    <br> <br>

    <a href = "/login"> Log back in to use Flyer Creater</a>

</div>

