
<div>
        {{!-- change this based on what the pages are called --}}
        <ul class = navbar>  
            <li class="nav"><a href = "/mainpage">Home</a></li>
            <li class="nav"><a href="/profile">My Profile</a></li>
            <li class="nav"><a href = "/logout">Logout</a></li>
        </ul>

</div>


<h1> My Profile </h1>   


<div>

    <br>

    <h1> {{firstName}}{{lastName}} </h1>

    <h3> {{email}} </h3>


</div>


<div>

    <h1>Flyers</h1>


</div>

<div>
    <table class = "user-flyers">
        {{#if myflyers.length}}
            {{#each myflyers}}
            <tr>
                <td>
                    <a href = "">  Will Need to pull from the database images of their flyers</a>

                    <a href="path to the flyer image" download> Download Flyer </a>

                </td>
            </tr>
            {{/each}}
        {{/if}}
    </table>

</div>

