
<h1> My Profile </h1>   


<div>

    <br>

    <h1> {{firstName}}{{lastName}} </h1>

    <h3> {{email}} </h3>


</div>


<div>

    <h1>Flyers</h1>


</div>

<div>
    <table class = "user-flyers">
        
        
    </table>

</div>

