

<div>
        {{!-- change this based on what the pages are called --}}
        <ul class = navbar>  
            <li class="nav"><a href = "/mainpage">Home</a></li>
            <li class="nav"><a href="/profile">My Profile</a></li>
            <li class="nav"><a href = "/logout">Logout</a></li>
        </ul>

</div>


<h1> Template Flyers </h1>

<br> 
<div>
    <p> Welcome {{firstname}} </p>

</div>

<div>
    <p> You can make your own unique flyers and save them to your profile. 
        <br>
        Start by clicking on one of the template flyers below.
    </p>
</div>


{{!-- Essentially in a table format of all the different flyers --}}
<div>
    
    <table class="template-flyer-table">
        <tr class="template-rows">    
            <td>
                <img src="../../public/backgrounds/purplelines.jpg">
                <p> Tulip Strike</p>
            </td>
            <td>
                <img src="../../public/backgrounds/yellow.jpg">
                <p> Yellow Path </p>
            </td>


        </tr>
        

        <tr class="template-rows">
            <td>
                <img src="../../public/backgrounds/bluefence.png">
                <br>
                <p> Fly Sky </p>

            </td>
            <td>
                <img src="../../public/backgrounds/glow.jpg">
                <p> Evening Glow </p>

            </td>



        </tr>
        <tr class="template-rows">
            <td>
                <img src="../../public/backgrounds/yellowbluecircle.jpg">
                <p> Sunshine </p>

            </td>
            <td>
                
            </td>




        </tr>


    </table>



</div>